{% extends 'base.html'%}

{% block head %}
<title>Portfolio</title>
{% endblock %}

{% block body %}
<h1>Portfolio</h1>
<hr>
<br>
<div class="project">
    <h2>Covid19-Detection</h2>
    <hr>
    <p>Detection of Covid-19 from healthy individuals using lung CT scans. 
        The project scope involves classification of Pneumonia, Covid and healthy from given CT-Scan images.</p>
    <br>
    <p>Check here in <a href="https://github.com/karthick96/Covid19-Detection" target="_blank">github code</a> for the full project</p>
    <br>
</div>

<div class="project">
    <h2>Project 2</h2>
    <p>content</p>
    <hr>
    <br>
</div>

<div class="project">
    <h2>Project 3</h2>
    <p>content</p>
    <hr>
    <br>
</div>

<br>
<br>

{% endblock %}